{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map of Equestria</title>
     <link rel="stylesheet" href="{% static 'charactercreator/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'charactercreator/styles/styles.css' %}">
</head>
<style>
    @font-face {
        font-family: "Ponyville Medium";
        src: url("{% static 'charactercreator/fonts/PonyvilleMedium.ttf' %}") format('truetype');
    }

    body {
        font-family: "Ponyville Medium", Arial, serif;
    }
</style>
<body>
<div class="header">
    <a class="logo" href="/">MLP TTRPG Character Creator & Manager</a>
    <div class="nav">
        <a href="/characters">List of characters</a>
        <a href="/characters/create">Create a character</a>
        <a class="active" href="/map">Map</a>
    </div>
</div>
<img src="{% static 'charactercreator/images/labeled_ponyville.png' %}" alt="Map of Ponyville" width="100%">
<img src="{% static 'charactercreator/images/labeled_map_of_equestria.png' %}" alt="Map of Equestria" width="100%">
<div class="footer">
    <a href="/characters">List of characters</a>
    <a href="/characters/create">Create a character</a>
    <a href="/logout">Logout</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
</body>
</html>